<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Job4j_Cars</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a href="http://localhost:8080/posts">
                        <img th:src="@{/images/gohome.png}" alt="AllPosts" width="20">
                    </a>
                    <a class="nav-item nav-link" th:href="@{/posts}">Все Объявления</a>
                </div>
                <div class="d-flex" th:if="${user.login == 'Guest'}">
                    <a class="nav-link text-secondary me-3" th:href="@{/users/register}">Регистрация</a>
                    <a class="nav-link text-secondary" th:href="@{/users/login}">Войти</a>
                </div>
                <div class="d-flex" th:if="${user.login != 'Guest'}">
                    <a class="nav-link text-secondary me-3" href="#" th:text="${user.login}"></a>
                    <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
                </div>
            </div>
        </div>
    </nav>
</div>